PermitRootLogin no
AllowUsers ddns

AuthorizedKeysFile /etc/ssh/authorized_keys/%u

# Authentication security
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
AuthenticationMethods publickey

# CIS Benchmark Improvements
MaxAuthTries 4
Protocol 2
LogLevel INFO
X11Forwarding no
IgnoreRhosts yes
HostbasedAuthentication no
PermitUserEnvironment no
Banner /etc/issue.net
