# Set a token which can be used by clients (required)
DDNS_SERVER_API_KEY=createatoken

# Optionally set a cache file to persist domain/IP mappings between application
# starts
#DDNS_SERVER_CACHE_FILE=/var/run/ddns/cache.yaml

# Optionally set a domainMatcher pattern for the token
#DDNS_SERVER_TOKEN_REGEX='^yourdomain.site$'

# Optionally set a different listener for the HTTP server
#DDNS_SERVER_HTTP_LISTENER=":9999"

# Optionally set a different listener for the DNS server
#DDNS_SERVER_DNS_LISTENER=":5333"
